 .custom-checkbox {
      position: relative;
      display: inline-block;
    }

    .ie8 .custom-checkbox {
      zoom: 1;
    }

    .custom-checkbox > .box {
      position: relative;
      display: block;
      width: 14px;
      height: 14px;
      border: 1px solid #ccc;
      background-color: #eee;
      border-radius: 4px;
    }

    .custom-checkbox > .box > .tick {
      position: absolute;
      left: 2px;
      top: -2px;
      width: 14px;
      height: 6px;
      border-bottom: 2px solid #333;
      border-left: 2px solid #333;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      display: none;
    }

    .oldie .custom-checkbox > .box > .tick {
      left: 1px;
      top: -5px;
      zoom: 1;
    }

    .ie7 .custom-checkbox > .box > .tick {
      filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865476, M12=0.7071067811865475, M21=-0.7071067811865475, M22=0.7071067811865476, sizingMethod='auto expand');
    }

    .ie8 .custom-checkbox > .box > .tick {
      -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865476, M12=0.7071067811865475, M21=-0.7071067811865475, M22=0.7071067811865476, sizingMethod='auto expand')";
    }

    .custom-checkbox > input:checked + .box > .tick {
      display: block;
    }

    .custom-checkbox.checked > .box > .tick {
      display: block;
    }

    .custom-checkbox > input {
      position: absolute;
      outline: none;
      left: 0;
      top: 0;
      padding: 0;
      width: 16px;
      height: 16px;
      border: none;
      margin: 0;
      opacity: 0;
      z-index: 1;
    }

    .ie7 .custom-checkbox > input {
      filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    }

    .ie8 .custom-checkbox > input {
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
    }

    .custom-checkbox > input:active + .box {
      border-color: #aaa;
      background-color: #ddd;
    }
